@charset "utf-8";
*{margin:0;padding:0;}
ol,ul,li,dd,dl,dt{list-style:none;}
*:focus{outline:0;}
em,i{font-style:normal;}
body{color:#4c4c4c; background:#f0f0f0;max-width:100%; margin:0 auto !important; font-family:微软雅黑;font-size:16px;}
button,input{font-family:微软雅黑;}
img,fieldset{border:0; vertical-align:middle}
input,textarea{appearance:none;-webkit-appearance:none; -moz-appearance:none; -o-appearance:none; -ms-appearance:none; border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -webkit-border-radius:0; -o-border-radius:0;}
a{cursor:pointer;text-decoration:none; color:#666;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.col-333{color:#333;}
.col-666{color:#666;}
.col-999{color:#999;}
.col-red{color:#ff0000;}
/**head**/
.header{height:40px;padding:6px 0 6px 6px;background: #fff}
.header .fr img{margin:2px 6px}
/**flex**/
.game-con .a-flex,.nav ul,.title-box,.s-head{
	display: box;			
	display: -webkit-box;	
	display: -moz-box;		
	display: -ms-flexbox;	
	display: -webkit-flex;
	display: flex;				
	-webkit-box-orient: vertical;}
.nav ul li,.title-box p,.game-con .game-info,.s-head .search{
	-webkit-box-flex: 1;	 
	-moz-box-flex: 1;				  
	-webkit-flex: 1;		  
	-ms-flex: 1;			 
	flex: 1;}
/**nav**/
.nav ul{background: #00b3ff}
.nav ul li{height:50px;line-height: 50px;text-align: center; }
.nav ul li a{color:#fff;width:100%;height:100%;display: inline-block;}
.nav ul li .a-on{background: #078fc9;}
.nav ul li a:hover{background: #078fc9;}
/**swiper**/
.new_public {background: #fff;margin-top:10px;padding:10px 0 0;}
.new_tit .tit_ico1 {background: url(../../images/tit_ico1.png) no-repeat 6px center;background-size: 22px auto;padding-left:30px;}
.meposition{position:relative;z-index: 1;}
.swiper-container { overflow:hidden}
.swiper-container-no-flexbox .swiper-slide {float: left;}
.swiper-container-vertical>.swiper-wrapper {-webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-flex-direction: column;-webkit-flex-direction: column;flex-direction: column;}
.swiper-wrapper {position: relative;width: 100%;height: 100%;z-index: 1;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.swiper-container-multirow>.swiper-wrapper {-webkit-box-lines: multiple;-moz-box-lines: multiple;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.swiper-container-free-mode>.swiper-wrapper {-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto;}.swiper-slide {-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-flex-shrink: 0;-ms-flex: 0 0 auto;flex-shrink: 0;width: 100%;height: 100%;position: relative;}
.swiper-pagination {top:-28px;right:5px;position: absolute;text-align: right;-webkit-transition: 300ms;-moz-transition: 300ms;-o-transition: 300ms;transition: 300ms;-webkit-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);-o-transform: translate3d(0,0,0);transform: translate3d(0,0,0);z-index: 10;}
.swiper-pagination-bullet {width:8px;height:8px;display:inline-block;background:none; border:1px solid #29abe2; border-radius:50%; transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;cursor: pointer;margin: 0 3px;}
.swiper-pagination-bullet-active {opacity: 1;background: #29abe2;}
.swiper-container-vertical>.swiper-pagination {right: 10px;top: 50%;-webkit-transform: translate3d(0,-50%,0);-moz-transform: translate3d(0,-50%,0);-o-transform: translate(0,-50%);-ms-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);}

.swiper-container .swiper-slide .exterior_pic{ padding-bottom:10px; margin-left:10px}
.swiper-container .swiper-slide .exterior_pic li{ width:50%; float:left; margin:10px 0 0 0}
.swiper-container .swiper-slide .exterior_pic a{ display:block; position:relative; margin-right:10px;}
.swiper-container .swiper-slide .exterior_pic a span{position:absolute;bottom:0px;right:0%;width:100%; background:rgba(0,0,0,0.6); height:25px; font-size:14px; color:#fff; line-height:25px; text-align:center}
.swiper-container .swiper-slide .exterior_pic a img {width:100%;display:block;max-width:100%;min-height:80px; max-height:300px;}

.new_index_list{ padding-bottom:10px}
.new_index_list li{width:25%; float:left; text-align:center; margin:15px 0 0 0}
.new_index_list li a{display:block; color:#323333; margin:0 2px;}
.new_index_list li a span{ margin-top:5px;display:block;font-size:13px; line-height:20px; height:20px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.new_index_list li a em{background: #29abe2;color:#fff;display:inline-block;font-size:14px;height:32px;line-height:34px;text-align: center;width:60px; border-radius:3px;}
.new_index_list li .a1{padding:5px 0; display:inline-block}
.myimg{width:65px; height:65px; border-radius:10px;}
/**title**/
.title-box{margin:10px 20px;background:#fff;border:1px solid #e0e0e0;border-radius: 4px; height:40px;line-height: 40px;}
.title-box p{text-align:center;border-right:1px solid #e0e0e0;}
.title-box .no-bor-right{border-right:0;}
.title-box p a{display: inline-block;width:100%;height:100%;}
.title-on{background:#00b3ff;position: relative;}
.title-on a{color:#fff;}
.title-on .blue-triangle{width:0;height:0;display: block;border-top:8px solid #00b3ff;border-right: 4px solid transparent;border-left:4px solid transparent;position: absolute;left:49%;bottom:-8px;}
.game-con{padding:0 10px;margin:0 10px;background: #fff;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.game-con .game-box{border-bottom: 1px dashed #e0e0e0;padding:10px 0;}
.game-con .game-pic{width:70px;height:70px;}
.star-box img{width:14px;height:14px;}
.game-info ul li{line-height: 24px;}
.game-info{margin-left:12px}
.game-btn{background: #00b3ff;border-radius: 6px;border:0;color:#fff;padding:6px 8px; min-width: 64px;min-height:34px; cursor:pointer;font-size:16px;margin:20px 0;}
.game-con .last-one{border-bottom:0;}
.no-begin{background:#333;}
/**返回顶部**/
.go-top{width:50px;height:30px;line-height: 30px;text-align:center;border-radius: 4px; background: #333;position: fixed;bottom:10px;right:10px;color:#fff;}
.already-bom{padding:20px 0;width:100%;text-align:center;}
/**登陆注册**/
.d-head{height:50px;line-height: 50px;border-bottom:2px solid #e0e0e0;background: #fff}
.d-fanhui{margin:0 10px 0 10px;}
.d-zcbox{padding:0 20px;}
.d-zcbox label img{height:20px;width:24px;}
.d-zcbox li{border-bottom:1px solid #e0e0e0;margin-top:10px;}
.d-zcbox li input{padding:16px 0;width:100%; outline:none;font-size: 14px;border:0;text-indent: 4px;}
.d-zcbox li:hover {border-bottom: 1px solid #368ABD;}
.d-find a{margin:10px 20px;display: inline-block;font-size:14px;color:#039cf4;}
.d-denglu{display: block;cursor: pointer; width:80%;background:#039cf4;height:40px;outline: none;border:0;border-radius: 4px;margin:20px auto;font-size:16px;color:#fff;}
.d-yzmbox{position: relative;}
.d-yzm{position: absolute;right:20px;bottom:8px;display: inline-block;padding:6px;background:#039cf4;color:#fff;border-radius: 4px;}
.d-user{background:#fff url(../../images/d_user.png) no-repeat left center;padding-left:30px;background-size:30px }
.d-password{background:#fff url(../../images/d_password.png) no-repeat left center;padding-left:30px;background-size:30px }
/**搜索**/
.search{position: relative;padding:0 20px;}
.s-input{width:100%;border:1px solid #ccc;height:32px;text-indent: 4px;}
.search button{position: absolute;top:17px;right:30px; border:0;background: none;font-size:14px;}
.mode-box{background: #fff;margin:10px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.mode-tit{height:36px;line-height: 36px;text-indent: 12px;border-bottom:1px solid #e0e0e0;}
.search-con{padding:10px 0;}
.search-con a{display: inline-block;padding:4px 6px;margin:6px;color:#fff;font-size:14px;}
.bac-1{background: #ec6f49}
.bac-2{background: #644AB4}
.bac-3{background: #7CA2FE}
.bac-4{background: #A77350}
.bac-5{background: #AF9BEC}
.bac-6{background: #0675C3}
/**pic**/
.pic-box {margin-top: 10px}
.pic-box ul{margin-bottom: 10px;background: #fff;padding:10px;}
.pic-box ul li img{width:100%;height:auto;vertical-align: middle;}
.pic-tit{height:36px;line-height: 36px;border-bottom:1px solid #e0e0e0;}
.pic-tit a:hover{color:#ec6f49;}
.pic-time{height:50px;line-height: 50px;}
.pic-time .fr{border:1px solid #29abe2;color:#29abe2;border-radius:4px;width:80px;height:34px;margin-top:12px;line-height: 34px;text-align: center;}
.pic-time .over{border:1px solid #EBEBEB;background: #EBEBEB;color:#999;}
.game-date{margin-top:50px;display: block;}
.game-info span:active{color:#ec6f49;}
/**开服**/
.libao-time{margin-top:22px;}
.kf-bor-left{padding-top:20px;}
.kf-today{position: relative;border-left:2px solid #ccc;padding:10px;}
.kf-today-p{color:#ec6f49; background: url(../../images/kf_today.png) no-repeat left center;background-size:12px auto;padding-left:16px; height: 30px;line-height: 26px;position: absolute;left:-7px;top:-10px;}
.kf-jijiang-p{color:#A77350; background: url(../../images/kf_jijiang.png) no-repeat left center;background-size:12px auto;}
.kf-already-p{color:#666; background: url(../../images/kf_already.png) no-repeat left center;background-size:12px auto;}
.kf-today .game-box{border-bottom:1px solid #e0e0e0;}